<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Barista.SharePoint.HostService.BaristaWebSocketsService"
               behaviorConfiguration="BaristaWebSocketsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Barista/WebSockets"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/Barista/WebSockets  -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Barista.SharePoint.HostService.IBaristaWebSockets" />
        <!-- the mex endpoint is exposed at http://localhost:8000/Barista/WebSockets/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BaristaWebSocketsServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>