<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="barista" type="Barista.Configuration.BaristaConfigurationSection, Barista.Core, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="newtonsoftJsonBehavior" type="Barista.Framework.NewtonsoftJsonBehaviorExtension, Barista.Core, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonRestEndpointBehavior">
          <webHttp />
          <newtonsoftJsonBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="jsonRestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="newtonsoftJsonBinding" contentTypeMapper="Barista.Framework.NewtonsoftJsonContentTypeMapper, Barista.Core, Version=1.0.0.0, Culture=neutral" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Barista.Web.BaristaWebSearchService" behaviorConfiguration="jsonRestServiceBehavior">
        <endpoint address="" behaviorConfiguration="jsonRestEndpointBehavior" binding="webHttpBinding" bindingConfiguration="newtonsoftJsonBinding" contract="Barista.IBaristaSearch" />
      </service>
      <service name="Barista.Web.BaristaWebWebSocketsService" behaviorConfiguration="jsonRestServiceBehavior">
        <endpoint address="" behaviorConfiguration="jsonRestEndpointBehavior" binding="webHttpBinding" bindingConfiguration="newtonsoftJsonBinding" contract="Barista.IBaristaSearch" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules>
      <add name="WcfReadEntityBodyModeModule" type="Barista.Web.WcfReadEntityBodyModeModule, Barista.Web, Version=1.0.0.0, Culture=neutral" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="YamlDotNet.RepresentationModel" publicKeyToken="2b53052c5884d7a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.19282" newVersion="2.0.1.19282" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <barista>
    <indexDefinitions>
      <indexDefinition name="amsIndex" indexName="AMS" typeName="Lucene.Net.Store.SimpleFSDirectory, Lucene.Net, Version=3.0.3.0, Culture=neutral, PublicKeyToken=85089178b9ac3181" indexStoragePath="c:\temp\amsindex" />
      <indexDefinition name="testIndex" indexName="Test" typeName="Lucene.Net.Store.RAMDirectory, Lucene.Net, Version=3.0.3.0, Culture=neutral, PublicKeyToken=85089178b9ac3181" />
    </indexDefinitions>
  </barista>
</configuration>
