<form data-ng-submit="ok()">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="cancel()">×</button>
        <h3 id="jsHintDialogLabel">Eval Options</h3>
    </div>
    <div class="modal-body">
        <div>
            Force Strict? <input type="checkbox" />
        </div>
        <div>
            Query String Parameters: <input type="text" />
        </div>
        <div>
            Instance Mode: <input type="text" />
            <div>
                Instance Name: <input type="text" />
            </div>
            <div>
                Instance Absolute Expiration: <input type="text" />
            </div>
            <div>
                Instance Sliding Expiration: <input type="text" />
            </div>
        </div>
        <div>
            Instance Initialization Code: <input type="text" />
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn pull-left" data-ng-click="resetToDefaults()">Reset to Defaults</button>
        <button class="btn btn-primary" data-ng-click="ok()">OK</button>
        <button class="btn" data-ng-click="cancel()">Cancel</button>
    </div>
</form>