<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h3 id="jsHintDialogLabel">JSHint Result</h3>
</div>
<div class="modal-body">
    <div ng-show="noErrors" class="label label-success">Your JS Code is Valid!</div>
    <div ng-hide="noErrors" style="max-height: 400px; overflow-y: auto;">
        <ul ng-repeat="jsResult in jshintResults.errors">
            <li>Error: <br/>
            Problem at line {{jsResult.line}} character {{jsResult.character}}: {{jsResult.reason}}<br/>
            <div style="background-color: #FFFADB;">{{jsResult.evidence}}</div></li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>