<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Barista.SharePoint.Services.BaristaServiceApplication">
        <endpoint binding="customBinding" bindingConfiguration="BaristaServiceHttpBinding"
                  contract="Barista.IBaristaServiceApplication"
                  address="" />
        <endpoint binding="customBinding" bindingConfiguration="BaristaServiceHttpsBinding"
                  contract="Barista.IBaristaServiceApplication"
                  address="secure" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="BaristaServiceHttpBinding" closeTimeout="00:00:10" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00">
          <security authenticationMode="IssuedTokenOverTransport" allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
        <binding name="BaristaServiceHttpsBinding" closeTimeout="00:00:10" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00">
          <security authenticationMode="IssuedTokenOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <httpRuntime
      enable="true"
      maxRequestLength="204800"
      executionTimeout="600"/>
  </system.web>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="true">
          <providers>
            <clear />
            <add value="Negotiate" />
            <add value="NTLM" />
          </providers>
        </windowsAuthentication>
      </authentication>
    </security>
    <modules>
      <add name="WindowsAuthenticationModule" />
    </modules>
  </system.webServer>
</configuration>