<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProcessNavigationService" />
        <binding name="BasicHttpBinding_IWorklistNavigationService" />
        <binding name="BasicHttpBinding_IIdentityService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sp2010dev.treasury.local:81/K2Services/WCF.svc/Process" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessNavigationService" contract="K2Services.IProcessNavigationService" name="BasicHttpBinding_IProcessNavigationService" />
      <endpoint address="http://sp2010dev.treasury.local:81/K2Services/WCF.svc/Worklist" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorklistNavigationService" contract="K2Services.IWorklistNavigationService" name="BasicHttpBinding_IWorklistNavigationService" />
      <endpoint address="http://sp2010dev.treasury.local:81/K2Services/WCF.svc/Identity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdentityService" contract="K2Services.IIdentityService" name="BasicHttpBinding_IIdentityService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>