<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.3.3" targetFramework="net35" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net35" />
  <package id="Ninject.Extensions.Conventions" version="3.2.0.0" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
  <package id="YamlDotNet.Core" version="2.0.1" targetFramework="net35" />
  <package id="YamlDotNet.RepresentationModel" version="2.0.1" targetFramework="net35" />
</packages>