<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Barista.SharePoint.Search.SPBaristaSearchService" behaviorConfiguration="BaristaSearchServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8500/Barista/Search"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8500/Barista/Search  -->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="BaristaSearchServiceHttpBinding" contract="Barista.IBaristaSearch">
        </endpoint>
        <!-- the mex endpoint is exposed at http://localhost:8500/Barista/Search/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="BaristaSearchServiceHttpBinding" closeTimeout="00:00:10" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <!--FIXME: This should be set back to Message.-->
          <security mode="None"/>
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BaristaSearchServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="YamlDotNet.RepresentationModel" publicKeyToken="2b53052c5884d7a1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.19282" newVersion="2.0.1.19282"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
