<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DocumentStoreServiceType" value="Barista.SharePoint.DocumentStore.SPMemoryCachedDocumentStore, Barista.SharePoint, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a2d8064cb9226f52"/>
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="3600"/>
  </system.web>
</configuration>