<table border="0" cellspacing="0" cellpadding="0" width="90%" style="margin: 5px;">
    <tr>
        <td style="padding-top: 10px">
            <b>Trusted Barista Locations:</b>
            <div class="toolbar clearfix">
                <div class="btn-group">
                    <btn id="btnNewLocation" class="btn btn-primary" data-ng-click="addNewLocation()">
                        <img src="/_layouts/images/newitem.gif" alt="New" /><span style="color: white;"> New Location</span>
                    </btn>
                </div>
                <div class="btn-group btn-group-xs pull-right">
                    <btn id="btnSaveLocationsAsDefault" class="btn btn-danger" data-ng-click="saveLocationsAsDefault()">
                        <img src="/_layouts/images/saveitem.gif" alt="Save" /><span style="color: white;"> Save Trusted Locations as Default</span>
                    </btn>
                </div>
            </div>
            <div class="gridStyle" data-ng-grid="gridOptions"></div>
        </td>
    </tr>
</table>

<script type="text/ng-template" id="confirmRemoveLocation.html">
	<div style="padding: 15px;">
        <p>Are you SURE you wish to delete this trusted location?</p>
    </div>
    <div class="modal-footer">
        <div class="btn" data-ng-click="$dismiss()">Cancel</div><div data-ng-click="$close()" class="btn btn-primary">Ok</div>
    </div>
</script>