<table border="0" cellspacing="0" cellpadding="0" width="90%" style="margin: 5px;">
    <tr>
        <td style="padding-top: 10px">
            <b>Trusted Barista Locations:</b>
            <div id="trustedLocationsGrid"></div>	
        </td>
    </tr>
</table>

<script type="text/x-kendo-template" id="trustedLocationTemplate">
    <div class="editor form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputUrl">Url </label>
            <div class="controls">
                <input id="inputUrl" type="text" placeholder="SharePoint Web Url" 
                    required data-required-msg="You need to enter a URL" data-url-msg="This url is invalid"
                    pattern="http(s?)\://.*"
                    data-bind="value:Url"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescription">Description </label>
            <div class="controls">
                <textarea id="inputDescription" rows="3" placeholder="Description"
                    data-bind="value:Description">
                </textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLocationType">Location Type </label>
            <div class="controls">
                <select id="inputLocationType" data-bind="value:LocationType">
                    <option value="Web">Web</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputTrustChildren">Trust Children? </label>
            <div class="controls">
                <input id="inputTrustChildren" type="checkbox"
                    data-bind="checked:TrustChildren"></input>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="toolbarTemplate">
    <div class="toolbar">
        <div class="btn-group">
            <a id="btnNewLocation" class="btn btn-primary" ng-click="addNewLocation()">
                <img src="/_layouts/images/newitem.gif" alt="New" /><span style="color: white;"> New Location</span>
            </a>
        </div>
    </div>
</script>

<script type="text/javascript">
    var trustedLocationsDataSource;
    $(document).ready(function () {
        //Kill the search area, it just looks bad (style conflict?)
        $("#s4-searcharea").hide();

        var trustedLocationsServiceBaseUrl = "/_vti_bin/Barista/v1/Barista.svc/eval?c=";
        var trustedLocationsServiceBasePostUrl = "/_vti_bin/Barista/v1/Barista.svc/eval?c=";
        trustedLocationsDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: trustedLocationsServiceBaseUrl + encodeURIComponent("/_admin/BaristaService/WebServices/GetTrustedLocations.js"),
                    dataType: "json",
                    type: "GET"
                },
                update: {
                    url: trustedLocationsServiceBasePostUrl + encodeURIComponent("/_admin/BaristaService/WebServices/AddOrUpdateTrustedLocation.js"),
                    contentType: "application/x-www-form-jsonencoded",
                    dataType: "json",
                    type: "POST"
                },
                destroy: {
                    url: trustedLocationsServiceBasePostUrl + encodeURIComponent("/_admin/BaristaService/WebServices/DeleteTrustedLocation.js"),
                    contentType: "application/x-www-form-jsonencoded",
                    dataType: "json",
                    type: "POST",
                },
                create: {
                    url: trustedLocationsServiceBasePostUrl + encodeURIComponent("/_admin/BaristaService/WebServices/AddOrUpdateTrustedLocation.js"),
                    contentType: "application/x-www-form-jsonencoded",
                    dataType: "json",
                    type: "POST",
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return kendo.stringify(options.models[0]);
                    }
                }
            },
            batch: true,
            pageSize: 15,
            schema: {
                model: {
                    id: "Url",
                    fields: {
                        Url: { type: "url", required: true },
                        Description: { type: "string" },
                        LocationType: { type: "string", defaultValue: "Web" },
                        TrustChildren: { type: "boolean" }
                    }
                }
            }
        });

        $("#trustedLocationsGrid").kendoGrid({
            dataSource: trustedLocationsDataSource,
            height: 350,
            scrollable: true,
            sortable: true,
            filterable: true,
            pageable: {
                input: true,
                numeric: false
            },
            toolbar: $("#toolbarTemplate").html(),
            columns: [
                {
                    field: "Url",
                    title: "Url",
                    width: 400
                },
                {
                    field: "Description",
                    title: "Description",
                    width: 200
                },
                {
                    field: "LocationType",
                    title: "Location Type",
                    width: 100
                },
                {
                    field: "TrustChildren",
                    title: "Trust Children",
                    width: 100
                },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
            ],
            editable: {
                mode: "popup",
                template: $("#trustedLocationTemplate").html(),
            }
        });
    });
</script>