<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProcessNavigationService"/>
                <binding name="BasicHttpBinding_IWorklistNavigationService"/>
                <binding name="BasicHttpBinding_IIdentityService"/>
                <binding name="BasicHttpBinding_ICoreService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sp2010dev.treasury.local:81/K2Services/WCF.svc/Process" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessNavigationService" contract="K2Services.IProcessNavigationService" name="BasicHttpBinding_IProcessNavigationService"/>
            <endpoint address="http://sp2010dev.treasury.local:81/K2Services/WCF.svc/Worklist" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorklistNavigationService" contract="K2Services.IWorklistNavigationService" name="BasicHttpBinding_IWorklistNavigationService"/>
            <endpoint address="http://sp2010dev.treasury.local:81/K2Services/WCF.svc/Identity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdentityService" contract="K2Services.IIdentityService" name="BasicHttpBinding_IIdentityService"/>
            <endpoint address="http://sp2010dev.treasury.local:81/K2Services/WCF.svc/Core" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoreService" contract="K2Services.ICoreService" name="BasicHttpBinding_ICoreService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
