<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DocumentStoreServiceType" value="Barista.SharePoint.DocumentStore.SPDocumentStore, Barista.SharePoint, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a2d8064cb9226f52"/>
    <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="1200"/>
  </system.web>
</configuration>